header {
  height: 50px;
  background-color: #faf5f9;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  Button {
    background-color: #c989a6;
  }
}
